[Unit]
Description=Telegram Chat Bot
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/data/three
ExecStart=/usr/bin/python3 /data/three/tg_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
